In [46]:
print("hello world")

hello world

In [16]:
money = True
    
if money == True:
    print("use taxi")
else:
    print("walk")

use taxi

In [14]:
money = 2000

if money >= 5000:
    print("use taxi")
elif money >= 1000:
    print("use bus")
else:
    print("walk")

use bus

In [29]:
grade = 50

if grade >= 90:
    print("grade A")
elif grade >= 80:
    print("grade B")
elif grade >= 70:
    print("grade C")
elif grade >= 60:
    print("grade D")
else:
    print("grade F")

grade E

In [35]:
#while

no = 10

while no >= 0:
    print(no)
    no = no - 1

10
9
8
7
6
5
4
3
2
1
0

In [39]:
promot = "1. 덧셈/ 2. 뺄셈 / 3, 곱셈/ 4, 너눗셈/ 5. 종료"
no = 0

while no <= 4:    
    print(promot)
    no = int(input())

1. 덧셈/ 2. 뺄셈 / 3, 곱셈/ 4, 너눗셈/ 5. 종료
2
1. 덧셈/ 2. 뺄셈 / 3, 곱셈/ 4, 너눗셈/ 5. 종료
5

In [ ]:
no = 0

while True:
    print(no)
    no = no + 1
    
    if no > 10:
        break

In [ ]:
no = 0

while True:
    print(no)
    no = no + 1
    
    if no > 10:
        break

In [49]:
no = 0

while True:
    print(no)
    no = no + 1
    
    if no > 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [77]:
no = 1
sum = 0

while no <= 100:  
        no % 3 == 0
        sum = sum + no
        no = no + 3
        
    
        if no > 100:
            break
        
print(sum)

1683

In [79]:
no = 1
sum = 0

while no <= 100:
    if no % 3 == 0:
        sum = sum + no
        
    no = no +1
    
print(sum)

1683

In [80]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    print(i)

1
2
3
4
5
6
7
8
9

In [85]:
math = [80,90,70,70,100]

j = 1
for i in math:
    if i >= 90:
        print(j, "pass")
    else:
        print(i, "fail")
    j += 1

80 fail
2 pass
70 fail
70 fail
5 pass

In [88]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2==0:
        continue
        
        
    print(i)

1
3
5
7
9

In [89]:
#range 함수

#숫자를 자동으로 생성해준다, for문과ㅓ 함께 사용되는 경우가 많다.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [109]:
#for 문으로 구구단 출력하기

for i in range(1,10):
    for j in range(2,10):
        print(j, "*", i, "=", j*i, end="\t")
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [136]:
for i in range(1, 101,2):
    if i % 2 == 0:
        sum = sum + i
    
print(sum)

0

In [130]:
# range를 사용하여 100이하의 수중 짝수들만의 합계

#range(start, stop, step)  start를 생략하면 0에서 시작, 
for i in range(0,11,3):
    print(i)
#stop을 생략하면 1씩 증가

0
3
6
9

In [139]:
#리스트 축약/내포 list comprehension
#리스트를 좀더 편리하고 직관적올 만드는 방법이다.

list1 = [1,2,3,4]

print(list1)

list2 = [num             for num in list1]
print(list2)

list3 = [num*2            for num in list1]
print(list3)

list4 = [num            for num in list1 if num % 2 == 0]
print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 4, 6, 8]
[2, 4]

In [148]:
grade = 90

if grade >= 70:
    print("pass")
else:
    print("fail")
            

"pass"       if grade>80   else "fail"

pass

'pass'