<a href="https://colab.research.google.com/github/jimin0308go/pythonclass/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
num = float(input("number:"))
print(num*2)

number123.124
246.248

In [14]:
num = float(input("number"))
x = (num*2)
print(round(x, 3))

number123.32
246.64

In [29]:
import math
num = int(input("number over 500: "))
x = math.sqrt(num)
print(x, num*2)

number over 500: 235
15.329709716755891 470

In [31]:
import math
x = math.pi
print(round(x , 5))

3.14159

In [33]:
import math
num = int(input("radius of circle: "))
x = math.pi
print(x*num**2)

radius of circle: 123
47529.15525615998

In [43]:
import math
num = int(input("radius of circle: "))
num1 = int(input("depth: "))
x = math.pi
y = x*num**2
print(y*num1)

radius of circle: 10
depth: 20
6283.185307179587

In [42]:
import math
num1 = int(input("num1: "))
num2 = int(input("num2: "))
x = round(num1/num2)
y = (num1%num2)
print(num1,"divided by",num2, "is", x, "with", y)

num1: 10
num2: 3
10 divided by 3 is 3 with 1

In [61]:
print(" 1) square: ")
print(" 2) Triangle")
ask = int(input())
if ask == 1:
  num1 = int(input("length of one: "))
  num2 = int(input("base: "))
  print(num1*num2)
elif ask == 2:
  num3 = int(input("base: "))
  num4 = int(input("hight: "))
  x=num3*num4
  print(x/2)
else:
  print("error")

 1) square:
 2) Triangle
2
base: 100
hight: 58
2900.0